services:
  postgres:
    image: postgres:16-alpine
    container_name: scheduler_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=scheduler_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:  