spring:
  application:
    name: scheduler-api
  
  datasource:
    url: jdbc:postgresql://db:5432/scheduler_db
    username: postgres
    password: ${DB_PASSWORD} # Mengambil dari Environment Variable
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}         # Aman
            client-secret: ${GOOGLE_CLIENT_SECRET} # Aman
            scope:
              - openid
              - profile
              - email
              - https://www.googleapis.com/auth/calendar
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
        provider:
          google:
            # Tetap pertahankan ini agar bisa dapat Refresh Token (Offline Access)
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&prompt=consent
            
  mail:
    host: smtp.gmail.com
    port: 587
    # UBAH DISINI: Jangan tulis email/password langsung!
    username: ${MAIL_USERNAME} 
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080
  forward-headers-strategy: native